.nav {
  position: fixed;
  padding-top: 1.75em;
  width: calc(100% - 2.5em);
}

.logo {
  width: 5em;
}

.container {
  max-width: 75em;
  height: 3.25em;
  margin: 0 auto;
  border-bottom: 1px solid #0E0E0E;
}
