.label {
  font-size: 2em;
  color: #A3A3A3;
  margin: 1em 0 1em auto;
}

.select {
  all: unset; 
  color: #0E0E0E;
  margin-left: .3em;
  padding-right: 1.5rem;
  border-bottom: 1px solid #0E0E0E;
  background: url('https://www.charbase.com/images/glyph/9662') no-repeat right;
  background-size: 1.5rem;
  line-height: .9;
}

.select:hover, .select:focus {
  color: #1A18F7; 
  border-bottom: 1px solid #1A18F7;
}
