.container {
  max-width: 77.5em;
  padding: 0 1.25em;
  margin: 0 auto;  
  display: flex;
  flex-direction: column;
}

.workContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}
