.header {
  max-width: 90em;
  height: 30em;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.container {
  max-width: 75em;
  padding-top: 5em;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 10em;
  color: #0E0E0E;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 54em) {
  .title {
    font-size: 25em;
    text-align: left;
  }

  .header {
    height: 60em;
    background-size: 170%;
    background-position: 0 10%;
  }
}
